<head>
	<meta charset="UTF-8" />
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"><![endif]-->
	<meta name="robots" content="noodp" />
	<title>{% if page.title %}{{ page.title }} {% endif %}{{ site.title }}</title>

	<meta name="description" content="WordPress plugin to dynamically resize images. Repsonsive, adaptive or just on the fly." />
	<meta name="keywords" lang="en" content="dynamic, image, images, resize, resizer, scale, plugin, wordpress, kaiser, wecodemore, wcm, adaptive, responsive, webdesign, themes, theme" />
	<meta name="keywords" lang="de" content="dynamisch, bild, bilder, vergrößern, verkleinern, skalieren, plugin, wordpress, kaiser, wecodemore, wcm, responsive, webdesign, themes, theme" />

	<meta name="author" content="{{ site.author.name }}">

	<link rel="stylesheet" href="{{ site.baseurl }}/all.css">
</head>