<header class="grid hero">
	<div class="grid__item one-whole palm--one-whole">
		<a href="{{ site.baseurl }}">
			<img src="{{ site.baseurl }}/assets/img/devices480x140.png" alt="{% if page.title %}{{ page.title }}{% endif %}" />
		</a>
	</div>
	<h1 class="grid__item one-whole palm--one-whole">
		<a href="{{ site.baseurl }}">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a>
	</h1>
	<h2 class="grid__item one-whole palm--one-whole">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
</header>