<nav>
	<ul class="grid">
		{% assign url = page.url | remove:'/index.html' %}
		{% assign home = site.navigation.first %}

		{% if url == empty %}
			{% for link in site.navigation %}
				{% assign state = '' %}
				{% if page.url == link.url %}
					{% assign state = 'active  ' %}
				{% endif %}

				{% if home.url != link.url %}
					<li class="{{ state }}grid__item  one-third  palm--one-whole">
						<a href="{% if page.url == link.url %}{{ site.baseurl }}{% else %}{{ site.baseurl }}{{ link.url }}{% endif %}" title="{{ link.title }}">{{ link.text }}</a>
					</li>
				{% endif %}
			{% endfor %}

		{% else %}

			<li class="grid__item  one-third  palm--one-whole">
				<a href="{{ home.url }}" title="{{ home.title }}">{{ home.text }}</a>
			</li>

			{% for link in site.navigation %}
				{% if page.url contains link.url %}
					<!-- @TODO Nur wenn man auf einer Subseite ist. -->
					<li class="grid__item  one-third  palm--one-whole">
						<a href="{{ link.url }}" title="{{ link.title }}">&laquo; {{ link.text }}</a>
					</li>

					{% if link.subitems %}
						{% for sub_item in link.subitems %}
							{% assign link_parts = link.url | replace: '.html' | split: '/'  %}
							{% for part in link_parts %}
								{% if part != empty %}
									{% if url contains part %}
										{% assign state = '' %}
											{% if page.url contains sub_item.url %}
												{% assign state = 'active ' %}
											{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}
							<li class="{{ state }}grid__item  one-third  palm--one-whole">
								<a href="/{{ sub_item.url }}" title="{{ sub_item.title }}">{{ sub_item.text }}</a>
							</li>
						{% endfor %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
	</ul>
</nav>