html {
	font: 0.75em/1.5 sans-serif;
	background-color: #f9f9f9;
	color: #444;
}
body {
	max-width: 1200px;
	margin: 18px auto;
	padding: 0 18px;
}
.hero {
	text-align: center;
	padding: 54px 0;
}
.hero p {
	font-size: 1.333em;
	margin: 0;
}
h1 {
	font-size: 6em;
	text-align: center;
	margin: 0;
	line-height: 1;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 700px) {
	h1 {
		font-size: 3em;
	}
}
p {
	margin: 0;
	margin-bottom: 18px;
}
a {
	color: #f43059;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.sub-menu {
	margin: 0;
	padding: 0;
	display: none;
}
.nav-item a {
	font-size: 1em;
	background-color: #f43059;
	color: #fff;
	padding: 18px;
}